---
import ShowTodayTrx from '../components/ShowTodayTrx.astro';
import {supabase} from '../js/supabase_client';
import { getTotSaldo, getUserBizId } from '../js/functions';

const token = Astro.cookies.get('token')
//alert(token)
var uid = await getUserBizId(token);

var totam;
var saldo = 0;
var tdate;
var prov = 0;
var avail = 0;

if(uid > 0){
    saldo = 0;
    totam = await getTotSaldo(uid);
    totam?.map( (nr) => saldo += parseInt(nr.amount) )

    prov = saldo *0.004;//*MAKE GLOBAL
    avail = saldo-prov;
    // if(visible){
    //     //return Astro.redirect('http://localhost:3000/mytable');
    // }else{
    //     alert('not logged in')
    // }
    var d = new Date();
    var y = d.getFullYear();
    var m = d.getMonth();
    var day = d.getDate();
    tdate = y + '-' + m + '-' + day;
}else{
    return Astro.redirect('http://localhost:3000/login');
}

---


<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
        style="background-image: url(/trx.jpg)">
    </div>

    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800">
        <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">{tdate}</h3>

        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
            <span class="font-bold text-gray-800 dark:text-gray-200">Sale: {saldo} sek</span>
        </div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
            <span class="font-bold text-gray-800 dark:text-gray-200">Prov: {prov} sek</span>
        </div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
            <span class="font-bold text-gray-800 dark:text-gray-200">Avail: {avail} sek</span>
        </div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
        <button id="trx" class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">Go to transactions</button>
        </div>
    </div>
</div>

<!-- <button id="lo">Sign out</button> -->
<div id="lo" class="flex justify-center">
    <button class="px-8 py-2 tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        Sign Out
    </button>
</div>

<script>

    const button = document.querySelector('#trx') ?? document.createElement('button');
    button.addEventListener('click', () => {
		window.location.href = "http://localhost:3000/mytable";
    });

    const signout = document.querySelector('#lo') ?? document.createElement('button');
    signout.addEventListener('click', () => {
        document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
        window.location.href = "http://localhost:3000/login";
    });
    
</script>